/*
.true{color: #46b450;}
.false{color: #dc3232;}
.status{display: block; background-color: #dc3232; margin-top:3px; height:1.1em; width:1.1em; border-radius: .55em;}
*/

.gecko-dashboard {
}
.gecko-dashboard__header {
	background-color: #004274;
	height: 100px;
	margin-left: -20px;
}
.gecko-dashboard__boxes {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5rem;
}

.gecko-dashboard__box {
	flex-basis: 480px;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: #FFF;
	border: 1px solid #e4e4e4;
	padding: 1rem;
	margin: 0.5rem;
}

.gecko-dashboard__box--main {
	flex-basis: 480px;
}

.gecko-dashboard__box--sidebar {
	flex-basis: 320px;
}


.gecko-dashboard__footer {

}
