/* Column Classes
--------------------------------------------- */
.one-third,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-third{
	width: 31.623931623931625%;
}

.two-thirds {
	width: 65.81196581196582%;
}


.first {
	clear: both;
	margin-left: 0;
}

@media only screen and (max-width:550px) {
	.one-third, .two-thirds{width:100%;}
}