.login {
	background-color: #134282;
}
.login #login h1 a {
	background-image: url(../images/login-logo.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 300px;
	height: 100px;
}
.login #backtoblog a, .login #nav a{
	color:#FDCB07;
}
.login #backtoblog a:hover, .login #nav a:hover{
	color:#FCB014;
}
.login .button-primary{
  background-color:#0E2E5B;
  border-radius: 0;
  transition:all 0.5s;
}
.login .button-primary:hover{
  background-color:#134282;
}